/*
|-----------------------------------------------------------------
| Custome CSS
|-----------------------------------------------------------------
*/

textarea {
	resize: none;
}

a:hover {
	text-decoration: none;
}
.p-indent {
	text-indent: 50px;
}

.glyphicon-large {
    font-size: ;
}

.user-profile-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.img-posts {
	width: 50%;
	height: 50%;
	border-radius: 5px;
	border: 2px solid grey;
	position: relative;
  
}

.panel > .panel-admin {
	background-image: none;
    background-color: #222;
    color: white;

}

.center-div {
	margin: 0 auto;
}

.post, .post-img {
	padding: 2px;
  margin-top: 25px;
}
.conbody{
	background-image: url('../img/backgroundhome.jpg');
	background-size: cover;
    background-position: center center;
 background-position: fixed;	
     width: 100%;
     height: 775px;
    margin-top: -137px;
    font-family:CastroScript;
    src: url('/fonts/CastroScript.tff');
}
.foot{
  margin-top:10px;
}

.navbar-default .navbar-nav > .active{
    color: #fff;
   background: #5bc0de;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background: #5bc0de;
 }
 .headline {
    font-size: 42px;
    font-weight: 300;
    line-height: 52px;
    margin-bottom: 4px;
     margin-left: 450px;
     margin-top: 295px;
    }
    .sub-headline {
      margin-bottom: 30px;
    color: #636366;
    font-size: 20px;
    margin-top: 10px;
    line-height: 24px;
    margin-left: 450px;
}

.search-input-container {
    display: inline-block;
    position: relative;
    width: 280px;
}
.input-group {
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding: 14px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid #e2e2e5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
 .break{
 	background: url("../img/el.jpg") repeat scroll 0 0/cover;
	color:#5bc0de;
	padding-top: 55px;
	padding-bottom: 55px;
	font-weight: 400px;
		background-size: cover;
    background-position: center center;
 background-position: fixed;	
     width: 100%;
     height: 700px;
	font-size: 19px;	

 }
.footer{
	/*background: url("../img/el.jpg") repeat scroll 0 0/cover;*/
	background-color: #212126;
	color:#5bc0de;
	padding-bottom: 55px;
  font-family: 
	font-weight: 400px;
	font-size: 19px;	
}

.footer ul li a:hover{
background-color: #5bc0de;
}

.panel-info{
  /*margin-top: 150px;*/
  opacity: 0.8;
}

.addpost{
  margin-top: -80px;
} 

.guestpost{
  margin-top: 82px;
}

.copyright{
  height: 5px;
  width: 1500px;
  background-color: #212126;
  color:#5bc0de;
  padding-bottom: 55px;
  font-weight: 400px;
  font-size: 19px;  
}

.rest{
  display: block;
    max-width: 100%;
    height: 44px;
    padding-top: 8px;
}
.testnav{
  text-decoration-color:#5bc0de;  
}
.postimg{
  margin-top: 73px;


}
.postrest{
  padding-top: 60px;
  width: 100%;
}
.searchpost{
  padding-top: 10px;
}

.label-as-badge {
    border-radius: 1em;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.top-margin-50 {
  margin-top: 10%;
}

.img-responsive {
  margin: 0 auto;
}
#navigation,.navbar .navbar-fixed-top{

  background-color: #5bc0de;
}

#popup {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10 !important;
  background-color: gray;
  opacity: 0.9 !important;
}

#popup_msg {
 background-image: url('../img/qwe.jpg');
 opacity: 1.0 !important;
  border-radius: 8px;
  size: 20px;
  height:380px;
  color: black ;
  font-family:all;
  font-style: italic;
  font-size: 34px;
  font-size-adjust: 50ex;
  width: 600px;
  top: 80px;
  margin: 0 auto;
  margin-top: 10px;
  z-index: 11 !important;
  padding: 10px;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

  .form_bg{
  background-color: #5bc0de;
  background:#f7f7f7;
  box-shadow: 5px 7px 11px rgba(0, 0, 0, 0.3);
  padding:12px;
  border-radius: 2px;
  margin-left:0px;
}

 .form_bg2{
  background:#f7f7f7;
  box-shadow: 5px 7px 11px rgba(0, 0, 0, 0.3);
  border-radius:2px;
  margin-left:0px;
  margin-top: 35px;
  padding:12px;
}


.browsepage{

  border-radius:2px;
  margin-top: : 75px;
  
}


input.form-control:disabled {
  background-color: #fff;
}